audio {
  width: 500px;
}

body {
  background-color: grey;
  font-family: 'Gruppo', cursive;
  font-size: larger;
}

.main {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 500px;
}